h3 {  font: bold 14px Verdana, Arial, Helvetica, sans-serif; text-decoration: none;}
h2 {  font: bold 16px Verdana, Arial, Helvetica, sans-serif; text-decoration: none;}
h1 {
	font: bold 18px Verdana, Arial, Helvetica, sans-serif;
	text-decoration: none;
	color: #486DAA;
}
li {  font: normal 10px Verdana, Arial, Helvetica, sans-serif; text-decoration: none;}
h4 {  font: 12px Verdana, Arial, Helvetica, sans-serif; text-decoration: none;}
p {  font: 12px Verdana, Arial, Helvetica, sans-serif;}
body {
	color: #333333;
	background: #E1E1E1 url(images/bg.gif);
	font: 12px Verdana, Arial, Helvetica, sans-serif;
	margin: 15px;
}

td {  font: 12px Verdana, Arial, Helvetica, sans-serif;}
pre {  font: 12px "Courier New", Courier, mono;}
.code {  font: 12px "Courier New", Courier, mono;}
.red {  color: #FF0000; font-weight: bolder;}
a {
	color: #486DAA;
	text-decoration: none;
	border-bottom: 1px dotted #333333;
	border-right: 1px dotted #FFFFFF;
	border-left: 1px dotted #FFFFFF;

}
a:visited {
	color: #6587BE;
	text-decoration: none;
	border-bottom: 1px dotted #666666;
}
a.box {
	padding: 2px 5px;
	text-decoration: none;
	color: #486DAA;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: smaller;
	font-weight: bolder;
	margin: 1px;
	border-top: 1px dashed #486DAA;
	border-right: 1px dashed #486DAA;
	border-bottom: 1px solid #486DAA;
	border-left: 1px solid #486DAA;

}

a.box:hover {
	padding: 2px 5px;
	text-decoration: none;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: smaller;
	font-weight: bolder;
	background-image: url(images/bg.gif);
	margin: 1px;
	border: 1px dashed #FF6600;
	color: #FF6600;
}
a.box:visited {
	padding: 2px 5px;
	text-decoration: none;
	color: #6587BE;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: smaller;
	font-weight: bolder;
	margin: 1px;
	border-top: 1px dashed #486DAA;
	border-right: 1px dashed #486DAA;
	border-bottom: 1px solid #486DAA;
	border-left: 1px solid #486DAA;

}
.mainTable {
	background-color: #FFFFFF;
	border-top: 2px dashed #486DAA;
	border-right: 2px dashed #CCCCCC;
	border-bottom: 2px dashed #CCCCCC;
	border-left: 2px dashed #486DAA;
}
p.titel {
	color: #486DAA;
	font-weight: bold;
	padding: 15px 5px 5px;
	background: url(images/bg.gif);
	text-indent: 10pt;
	border-top: 2px dashed #486DAA;
	border-right: 2px dashed #CCCCCC;
	border-bottom: 2px dashed #CCCCCC;
	border-left: 2px dashed #486DAA;
}
a:hover {
	color: #FF6600;
	text-decoration: none;
	border: 1px dotted #333333;

}
.none {
	text-decoration: none;
	border: 1px none #FFFFFF;
}
a.none:hover {
	text-decoration: none;
	border: 1px none #FFFFFF;
}
a.none:visited {
	text-decoration: none;
	border: 1px none #FFFFFF;
}
img.border {
	color: #486DAA;
	padding: 15px 15px 15px;
	background: url(images/bg.gif);
	text-indent: 10pt;
	border-top: 2px dashed #486DAA;
	border-right: 2px dashed #CCCCCC;
	border-bottom: 2px dashed #CCCCCC;
	border-left: 2px dashed #486DAA;
}
.menu {
	padding: 2px;
	text-decoration: none;
	color: #486DAA;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bolder;
	margin: 1px;
	border-bottom: 2px dotted #486DAA;
	font-size: small;
}
.border {
	color: #FF6600;
	padding: 15px 15px 15px;
	background: url(images/bg.gif);
	border-top: 2px dashed #486DAA;
	border-right: 2px dashed #CCCCCC;
	border-bottom: 2px dashed #CCCCCC;
	border-left: 2px dashed #486DAA;
}
.navMenu {
	color: #FF6600;
	font-weight: bold;
	font: 10px Verdana, Arial, Helvetica, sans-serif;
	padding: 5px 5px 5px;
	background: url(images/bg.gif);
	text-indent: 10pt;
	border-top: 2px dashed #666666;
	border-right: 2px dashed #CCCCCC;
	border-bottom: 2px dashed #CCCCCC;
	border-left: 2px dashed #666666;
}
